<p id="notice"><%= notice %></p>

<p>
  <strong>Competence:</strong>
  <%= @user_skill.competence %>
</p>

<%= link_to 'Edit', edit_user_skill_path(@user_skill) %> |
<%= link_to 'Back', user_skills_path %>
