%h1 Listing user_skills

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @user_skills.each do |user_skill|
      %tr
        %td= link_to 'Show', user_skill
        %td= link_to 'Edit', edit_user_skill_path(user_skill)
        %td= link_to 'Destroy', user_skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Skill', new_user_skill_path
